<p  *ngIf = "isSuccess; then success else failure"></p>
<ng-template #failure>
  <p>LOGIN KRO</p>
</ng-template>-->
<ng-template #success>
  <div class= "container">
  <form class="form-inline"
    >
    <input  type="search"
            class="form-control"
            placeholder="         Enter search string      "
            [formControl]="searchField">
            
  </form>

  <br><br>
    <p class="lead" *ngIf="loading">Loading...</p>
  

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let items of results | orderBy:'variable' " [ngStyle]="{'font-size.px':items.variable}"   >
        {{items.name}} , {{items.population}}
    </li>
</ul>
  </div>
</ng-template>