 <p  *ngIf = "isSuccess &&  timeOut ; then success else failure"></p>
<ng-template #failure>
  <p class = "login">You must login again or your Search Limit exceeded!!!</p>
</ng-template>-->
<ng-template #success>

  <div class= "container">
 <p class="login12">Hi , {{loggedIn}}</p>
  <form class="form-inline"
    >
    <input  type="search"
            class="form-control"
            placeholder="         Enter search string      "
            [formControl]="searchField">
            
  </form>

  <br><br>
    <p class="lead" *ngIf="loading">Loading...</p>
  

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let items of results | orderBy:'variable' " [ngStyle]="{'font-size.px':items.variable}"   >
        {{items.name}}
    </li>
</ul>
  </div>
</ng-template>